<% include header %>
<% include login-navigation %>

<div class="container wrapper">
    <div class="row">
	
    
        <div class="row">
            <br><br>
            <div class="span4 offset4 well">
                <img src="/images/404-error.jpg">
                <hr>
					<h2>Error: Page Not Found</h2>
            </div><!--/span-->
        </div>

    </div><!--/row-->
    
    <hr>

    <footer>
        <p>&copy; Company 2012</p>
    </footer>
    
</div> <!-- /container wrapper -->


<% include footer %>