
	<script>window.jQuery || document.write('<script src="js/jquery-1.8.0.min.js"><\/script>')</script>
	<script src="/js/jquery.flot.js"></script>
    <script src="/js/jquery.flot.pie.js"></script>
    <script src="/js/jquery.flot.resize.js"></script>
    <script src="/js/jquery.flot.demo.js"></script>
    <script src="/js/animatedcollapse.js"></script>
    <script src="/js/script.js"></script>
    </body>
</html>