<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <i class="icon icon-reorder"></i> Menu
            </a>
            <a class="brand" href="/"><%=title%></a>
            <div class="nav-collapse collapse">
               <!-- <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul> -->
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="sub-navbar">
        <div class="container">
            <p><i class="icon icon-user"></i> Hello <% if( user.first_name !== undefined && user.first_name !==""){ %> <%=user.first_name%> <% } else { %> <%=user.email%> <% } %>. Thanks for logging in.</p>
        </div>
    </div>
</div>